@import "tailwindcss";

:root {
  /* Actualizamos la variable global con tu fondo Off-White */
  --background: #f5f6f0;
  --foreground: #0a0a0a;
}

@theme inline {
  /* Configuración de Fuentes */
  --font-sans: var(--font-jost);
  --font-serif: var(--font-scheherazade);

  /* Paleta Premium: Resendiz Landscaping */
  --color-brand-green: #0a2d18; /* Verde profundo y profesional */
  --color-brand-gold: #735c00; /* Dorado clásico premium */
  --color-brand-gold-light: #d4af37; /* Dorado claro para acentos */
  --color-gold-light: #E0CD55; /* Dorado claro para acentos secundarios */
  --color-brand-black: #010101; /* Negro rico para contrastes */
  --color-bg-black: #1b1b1b; /* Fondo Negro */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
